In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("canada_per_capita_income.csv")

In [3]:
df.head()

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [5]:
df.isna().sum().sum()

0

In [6]:
df.corr()

                             year  per capita income (US$)
year                     1.000000                 0.943884
per capita income (US$)  0.943884                 1.000000

In [12]:
x_df=df[['year']]
y_df=df[['per capita income (US$)']]

In [13]:
model=LinearRegression()

In [71]:
x_train,x_test,y_train,y_test=train_test_split(x_df,y_df,test_size=0.25,random_state=2)
model.fit(x_train,y_train)

LinearRegression()

In [72]:
prediction=model.predict(x_test)

In [73]:
prediction

array([[ 1.85243953e+04],
       [ 9.65466172e+03],
       [ 3.38448443e+04],
       [ 1.28800194e+04],
       [ 2.82004684e+04],
       [ 3.46511837e+04],
       [ 3.62638626e+04],
       [ 1.04610011e+04],
       [ 1.12673406e+04],
       [-2.14113073e+01],
       [ 1.59126753e+03],
       [ 7.23564346e+03]])

In [74]:
model.score(x_test,y_test)

0.9272306518028786