In [1]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df=pd.read_csv('Melbourne.csv')

In [4]:
df=df.drop(columns=['Address','Date','Postcode','YearBuilt','Lattitude','Longtitude'])

In [5]:
df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Rooms          34857 non-null  int64
 2   Type           34857 non-null  object
 3   Price          27247 non-null  float64
 4   Method         34857 non-null  object
 5   SellerG        34857 non-null  object
 6   Distance       34856 non-null  float64
 7   Bedroom2       26640 non-null  float64
 8   Bathroom       26631 non-null  float64
 9   Car            26129 non-null  float64
 10  Landsize       23047 non-null  float64
 11  BuildingArea   13742 non-null  float64
 12  CouncilArea    34854 non-null  object
 13  Regionname     34854 non-null  object
 14  Propertycount  34854 non-null  float64
dtypes: float64(8), int64(1), object(6)
memory usage: 4.0+ MB

In [7]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

In [13]:
df.dropna(inplace=True)

In [14]:
df.isna().sum()

Suburb           0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
CouncilArea      0
Regionname       0
Propertycount    0
dtype: int64

In [15]:
df.corr()

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount
Rooms,1.000000,0.472535,0.278905,0.964466,0.620313,0.403142,0.096535,0.131986,-0.079880
Price,0.472535,1.000000,-0.231095,0.458250,0.461319,0.208413,0.052304,0.096446,-0.059306
Distance,0.278905,-0.231095,1.000000,0.286136,0.125187,0.261460,0.157807,0.080739,-0.005673
Bedroom2,0.964466,0.458250,0.286136,1.000000,0.622869,0.407046,0.096587,0.130352,-0.077693
Bathroom,0.620313,0.461319,0.125187,0.622869,1.000000,0.308427,0.074454,0.122407,-0.055511
Car,0.403142,0.208413,0.261460,0.407046,0.308427,1.000000,0.128339,0.092422,-0.032747
Landsize,0.096535,0.052304,0.157807,0.096587,0.074454,0.128339,1.000000,0.377481,-0.040192
BuildingArea,0.131986,0.096446,0.080739,0.130352,0.122407,0.092422,0.377481,1.000000,-0.027886
Propertycount,-0.079880,-0.059306,-0.005673,-0.077693,-0.055511,-0.032747,-0.040192,-0.027886,1.000000

In [43]:
df.nunique()

Suburb            318
Rooms              10
Type                3
Price            1871
Method              5
SellerG           254
Distance          202
Bedroom2           12
Bathroom            9
Car                11
Landsize         1252
BuildingArea      639
CouncilArea        33
Regionname          8
Propertycount     315
dtype: int64

In [44]:
x_df=df.drop(columns=['Price'])
x_df=pd.get_dummies(x_df,dtype=int)
y_df=df['Price']

In [45]:
x_train,x_test,y_train,y_test=train_test_split(x_df,y_df,test_size=0.3,random_state=2)

In [46]:
model=LinearRegression()

In [47]:
model.fit(x_train,y_train)

LinearRegression()

In [48]:
prediction=model.predict(x_test)

In [49]:
model.score(x_train,y_train)

0.7525809047660312

In [50]:
model.score(x_test,y_test)

-7410788610271.35

In [51]:
x_df.head()

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Abbotsford,Suburb_Aberfeldie,...,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Metropolitan,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
2,2,2.5,2.0,1.0,0.0,156.0,79.0,4019.0,1,0,...,1,0,0,0,1,0,0,0,0,0
4,3,2.5,3.0,2.0,0.0,134.0,150.0,4019.0,1,0,...,1,0,0,0,1,0,0,0,0,0
6,4,2.5,3.0,1.0,2.0,120.0,142.0,4019.0,1,0,...,1,0,0,0,1,0,0,0,0,0
11,3,2.5,4.0,2.0,0.0,245.0,210.0,4019.0,1,0,...,1,0,0,0,1,0,0,0,0,0
14,2,2.5,2.0,1.0,2.0,256.0,107.0,4019.0,1,0,...,1,0,0,0,1,0,0,0,0,0

In [135]:
from sklearn.linear_model import Lasso
reg=Lasso(alpha=50,max_iter=100,tol=0.1)
reg.fit(x_train,y_train)

C:\Users\harip\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.008e+14, tolerance: 3.032e+14
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=50, max_iter=100, tol=0.1)

In [136]:
ans=reg.predict(x_test)

In [137]:
reg.score(x_train,y_train)

0.7484576338033051

In [138]:
reg.score(x_test,y_test)

0.6449339525346285

In [139]:
from sklearn.linear_model import Ridge

In [168]:
reg2=Ridge(alpha=25,max_iter=100,tol=0.1)
reg2.fit(x_train,y_train)

Ridge(alpha=25, max_iter=100, tol=0.1)

In [169]:
ans1=reg.predict(x_test)

In [170]:
reg2.score(x_train,y_train)

0.7207650360003255

In [171]:
reg2.score(x_test,y_test)

0.6368721753262918