In [1]:
import pandas as pd
import sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('salaries.csv')

In [3]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
print(df.to_string())

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [5]:

y_df=df['salary_more_then_100k']
x_df=df.drop(columns=['salary_more_then_100k',])
x_df=pd.get_dummies(x_df)

In [6]:
model=DecisionTreeClassifier()

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x_df,y_df,test_size=0.2)

In [16]:
model.fit(x_train,y_train)
prediction=model.predict(x_test)

In [17]:
df['company'].unique()

array(['google', 'abc pharma', 'facebook'], dtype=object)

In [18]:
model.score(x_test,y_test)

1.0